.btn.active {
  border: 1px solid #666666;
}

.btn.active:hover {
  background-color: dimgray;
  border: 1px solid #666666;
}

#create_new_event_link {
  color: #ffffff;
}

#calendar-list-holder,
#other-calendars-list-holder,
#undated-events,
#calendars-context-list .context_list_context:hover,
#other-calendars-context-list .context_list_context:hover {
  background-color: transparent;
}

/* Minical */
#minical,
#minical .fc-toolbar,
#minical .fc-widget-content {
  background-color: transparent;
  border: none;
  color: #adadad;
}

#minical .fc-toolbar h2 {
  color: #ffffff;
}

.fc-state-default {
  text-shadow: none;
  color: #adadad;
}

#minical .fc-view-container {
  padding: 0;
}

#minical .fc-basic-view td.fc-day-number,
#minical td.fc-day {
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 3px;
  border: none;
  border-radius: 40px;
}

#minical .fc-other-month {
  color: #6d6d6d;
}

#minical .fc-basic-view td.fc-day-number:hover {
  background-color: #3e3e3e;
}

#minical .fc-bg .fc-state-highlight {
  background-color: transparent;
}

#minical .fc-basic-view td.fc-day-number.fc-state-highlight {
  background-color: #3772e1;
}

#minical .fc-basic-view td.fc-day-number.fc-state-highlight:hover {
  background-color: #3266cb;
}

/* Calendar grid */
.calendar .fc-head thead .fc-widget-header {
  color: #ffffff;
}

#calendar-app .fc-month-view .fc-body,
#calendar-drag-and-drop-container .fc-month-view .fc-body {
  background-color: transparent;
}

#calendar-app .fc-view-container {
  border: 1px solid #666666;
  border-radius: 4px;
  padding: 4px;
}

#calendar-app .fc-month-view .fc-widget-header {
  background-color: #242424;
  border-radius: 2px;
}

#calendar-app .fc-month-view .fc-today,
#calendar-drag-and-drop-container .fc-month-view .fc-today {
  background-color: #242424;
  border-radius: 4px;
}

#calendar-app .fc-month-view td {
  border: none;
}

#calendar-app .fc-event {
    background-color: transparent;
    border: 1px solid #666666;
}

.event-details {
    background-color: #242424;
    border: 1px solid #666666;
    border-radius: 4px;
}

.ui-menu-carat {
    border-top-color: #666666;
    border-bottom-color: #666666;
}

.event-details.carat-bottom .ui-menu-carat span {
    border-top-color: #242424;
    border-bottom-color: #242424;
}

.event-details-header, .event-details-content, .event-details-footer {
    border-bottom: none;
}

.close, .close:hover {
    text-shadow: none;
    color: #FFFFFF !important;
    opacity: 1;
}

.css-1uui0xw-mask {
    background-color: #24242485 !important;
}

.css-13bvaq6-modal {
    background-color: #242424 !important;
    border: 1px solid #666666 !important;
    border-radius: 4px !important;
}

.css-1y7d45o-modalHeader {
    background-color: transparent !important;
    border: none !important;
}

.css-pysk6l-modalFooter {
    background-color: transparent !important;
    border: none !important;
}

.css-1y7d45o-modalHeader {
    color: #FFFFFF;
}

span[aria-label="Confirm deletion"] .css-1rpus1y-baseButton__content {
    background-color: #242424;
    color: #FFFFFF;
    border: 1px solid #666666;
}

span[aria-label="Confirm deletion"] button:hover .css-1rpus1y-baseButton__content {
    background-color: #2e2e2e;
    color: #FFFFFF;
    border: 1px solid #757575;
}

/* Add event */
.ui-widget-overlay {
  background-color: #24242485;
}

.ui-dialog.ui-widget-content {
  color: #adadad;
  border: 1px solid #666666;
  border-radius: 4px;
}

.ui-dialog-title {
  color: #ffffff;
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header,
.ui-dialog .ui-datepicker .ui-widget-header.ui-datepicker-header,
.ui-datepicker .ui-dialog .ui-widget-header.ui-datepicker-header,
.ui-widget-header {
  background-color: #242424;
  border: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
  opacity: 1;
}

.ui-tabs .ui-tabs-panel {
  background-color: #242424;
  border: none;
}

.ui-tabs .ui-tabs-nav li {
  top: 0;
}

#edit_event {
  background-color: #242424;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
  background-color: dimgray;
  border: none;
  border-radius: 4px;
}

#edit_event .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#edit_event .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover a,
#edit_event .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover a {
  color: #ffffff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding: 0;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover,
.ui-tabs .ui-tabs-nav li:hover {
  background-color: #3e3e3e;
  border: none;
  border-radius: 4px;
}

#edit_event .ui-tabs .ui-tabs-nav li.ui-state-hover a,
#edit_event .ui-tabs .ui-tabs-nav li:hover a {
  color: #ffffff;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-tabs li.ui-state-default {
  margin-left: 8px;
}

.ui-tabs li.ui-state-default:first-of-type {
  margin-left: 12px;
}

form.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view.css-ll252p-view {
  margin: 0;
}

.ui-tabs .ui-tabs-nav li.ui-state-focus, .ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active {
    background-color: dimgray;
}

.ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
}

.ui-dialog .css-j68kdy-formFieldLabel {
    color: #FFFFFF !important;
}

.ui-dialog .css-1jn5ugl-textInput__facade {
    background-color: #292929 !important;
    border: 1px solid #666666 !important;
}

.ui-dialog .css-1dmk401-textInput__facade, .ui-dialog .css-zxdqdw-textInput__facade, .ui-dialog .css-11e2nr6-textInput__facade {
    background-color: #292929 !important;
}

.css-1mtgjqq-textInput:-webkit-any(input)[type] {
    color: #FFFFFF !important;
}

.ui-dialog .css-t514n8-view--inlineBlock-baseButton .css-1rpus1y-baseButton__content {
    background-color: #242424 !important;
    border: 1px solid #666666 !important;
    border-radius: 4px !important;
    color: #ffffff !important;
    text-align: center !important;
    font-size: 14px !important;
}

.ui-dialog .css-t514n8-view--inlineBlock-baseButton:hover .css-1rpus1y-baseButton__content {
    background-color: #2e2e2e !important;
    border: 1px solid #757575 !important;
    border-radius: 4px !important;
    color: #ffffff !important;
}

.ui-dialog input, .ui-dialog textarea {
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 4px;
    box-shadow: none;
    color: #FFFFFF;
}

.ui-widget-content {
    color: #adadad;
}

.ui-dialog .event-details-content {
    padding: 0;
    border: none;
}

.ui-dialog #edit_planner_note_form_holder select {
    border: 1px solid #666666;
    border-radius: 4px;
}

.ui-dialog #edit_planner_note_form_holder input, .ui-dialog #edit_planner_note_form_holder textarea {
    background-color: #292929;
}

.ui-dialog #edit_planner_note_form_holder .hasDatepicker {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Fullscreen edit event */
#editCalendarEventFull input {
    background-color: #242424;
    border: 1px solid #666666;
    border-radius: 4px;
}

.tox .tox-edit-area__iframe {
    background-color: #242424 !important;
}

.canvas-rce__skins--root {
    background-color: #242424 !important;
}

.tox .tox-edit-area {
    border: none !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
    background-color: #242424 !important;
}

.tox .tox-menubar {
    background-color: #2e2e2e !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background-color: #2e2e2e !important;
    color
}

#tinymce-parent-of-calendar-description {
    border: 1px solid #666666;
    border-radius: 4px;
}