/* Universal styles */
body {
  background-color: #1f1f1f;
  color: #adadad;
}

::placeholder {
  color: #adadad !important;
}

input {
  color: #ffffff;
}

select {
  background-color: #292929;
  border: none;
  color: #adadad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.btn,
.Button,
.ui-button {
  background-color: #242424;
  border: 1px solid #666666;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.btn:hover, .Button:hover, .ui-button:hover {
  background-color: #2e2e2e;
  border: 1px solid #757575;
  color: #FFFFFF;
}

/* Class cards */
.ic-DashboardCard {
  background-color: #242424;
  border-radius: 4px;
}

.ic-DashboardCard__header_content {
  background-color: transparent;
}

.Button--icon-action, .Button--icon-action-rev, .Button--icon-action:hover, .Button--icon-action-rev:hover {
  background-color: transparent;
  border: none;
}

/* Dashboard header */
.ic-Dashboard-header__layout {
  background-color: transparent;
  border-bottom: 1px solid #3d3d3d;
  color: #FFFFFF;
}

.css-pljkwv-view-heading path:first-of-type {
  color: #ffffff;
}

/* Sidebar */
#right-side h2, #right-side .h2 {
  color: #ffffff;
  border-bottom: 1px solid #3d3d3d;
}

.css-m97t26-text {
  color: #adadad;
}

#right-side .button-sidebar-wide {
  text-align: center;
}

.recent_feedback h2 {
  color: #ffffff;
}

.recent_feedback li {
  color: #adadad;
}

/* Support tab */
.eesy {
  display: none;
}

/* Footer */
.ic-app-footer {
  display: none;
}

body:not(.is-inside-submission-frame) .ic-Layout-wrapper::after {
  display: none;
}