:root {
    --background: #161216;

    --surface-container: #231e23;
    --surface-container-high: #2e282d;
    --surface-container-highest: #393338;

    --on-surface: #eae0e6;
    --on-surface-variant: #d1c2ce;

    --primary-container: #6d3774;
    --on-primary-container: #ffe0fd;

    --secondary-container: #4f3851;
    --on-secondary-container: #eccaea;

    --primary: #f3b0f7;

    --outline: #9A8D98;
    --outline-variant: #4e444d;

    /* Corner radii */
    --br-large: 24px;
    --br-small: 4px;

    /* Legacy styles */
    --card-hover: #2b2b2b;
    --outline-variant-hover: #353535;

    --surface-container-highest-hover: #464646;
    --outline-hover: #505050;
}

/* Nightshade elements */
#course-nav {
    width: 25%;
    min-width: 300px;
    max-width: 380px;
    overflow: hidden;
    background-color: var(--surface-container);
    border-left: 1px solid var(--outline-variant);
    border-top-right-radius: var(--br-large);
    border-bottom-right-radius: var(--br-large);
}

#scroll-wrapper {
    height: 100%;
    overflow-y: auto;
}

.ns-sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-box {
    display: flex;
    gap: 5px;
}

.course-name {
    color: var(--on-surface);
}

#course-nav button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.toggle span {
    color: var(--on-surface-variant);
    border-radius: 15px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.toggle span:hover {
    background-color: var(--surface-container-high);
    color: var(--on-surface);
    cursor: pointer;
}

.tabs {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    gap: 10px;
}

.tabs a {
    text-decoration: none;
    color: var(--on-surface-variant);
    padding: 5px 10px;
    border-radius: 20px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.tabs a:hover {
    background-color: var(--surface-container-high);
    color: var(--on-surface);
}

.tabs a.active {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
}

/* Unsorted styles */
* {
    scrollbar-color: var(--surface-container-highest) var(--surface-container-high);
}

body {
    background-color: var(--background);
    color: var(--on-surface);
}

.css-pljkwv-view-heading {
    color: var(--on-surface) !important;
}

.btn,
.Button,
.ui-button {
    background-color: transparent;
    border-color: var(--outline);
    border-radius: var(--br-large);
    color: var(--primary);
}

.btn:hover,
.Button:hover,
.ui-button:hover {
    background-color: var(--surface-container);
    border-color: var(--outline);
    color: var(--primary);
}

.Button--icon-action,
.Button--icon-action-rev {
    background-color: transparent;
    border: none;
}

.css-1xnn9jb-inlineSVG-svgIcon,
.css-1uh2md0-inlineSVG-svgIcon {
    color: var(--on-surface) !important;
}

.css-2bn4c9-view--inlineBlock-inlineListItem {
    color: var(--on-surface) !important;
}

.css-11o97cb-view--inlineBlock-baseButton:hover
    > [class$="-baseButton__content"] {
    background-color: var(--surface-container-highest) !important;
}

.css-tpuo6v-text {
    color: var(--on-surface) !important;
}

ul,
ol {
    margin: 0;
}

.css-5sj4z-inlineSVG-svgIcon {
    color: var(--on-surface);
}

.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton.css-k11gxn-view--inlineBlock-baseButton {
    margin: 0;
}

.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton.css-vu0xp4-view--inlineBlock-baseButton {
    margin: 0;
}

.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper.css-1b8oav2-view--inlineBlock-badge__wrapper {
    margin: 0;
}

.css-1sp24u-text {
    color: var(--on-surface);
}

.css-1ns2r3i-view-heading {
    border-bottom-color: var(--outline-variant);
}

.css-qbjizl-text {
    color: var(--on-surface);
}

.title {
    color: var(--on-surface);
}

.close,
.close:focus {
    color: var(--on-surface);
    text-shadow: none;
}

.close:hover {
    color: var(--on-surface);
}

.eesy {
    display: none !important;
}

hr {
    border: none;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary);
}

.css-13qpir0-view-link {
    color: var(--primary) !important;
    text-decoration: none !important;
}

.css-13qpir0-view-link:hover {
    text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
}

/* Alerts */
.ic-flash-info,
.ic-flash-success,
.ic-flash-warning,
.ic-flash-error {
    background-color: var(--surface-container-high);
}

.css-1osm78b-view-alert {
    background-color: var(--surface-container-high) !important;
    color: var(--on-surface) !important;
}

/* Hidden elements */
#react-router-portals,
#StudentTray__Container,
#footer,
#wrapper::after {
    display: none;
}

/* Layout */
body {
    min-height: auto;
}

#application {
    display: flex;
    height: 100vh;
    min-height: auto;
}

#wrapper {
    margin: 0;
    padding: 0 20px;
    max-width: none;
    min-height: auto;
    width: 100%;
    overflow-y: auto;
    scroll-padding: 76px;
}

#right-side-wrapper {
    overflow-y: auto;
    max-width: 300px;
    width: 100%;
    padding: 20px 0px 0px 0px;
    height: 100%;
}

#content {
    padding: 0;
}

#dashboard {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

#header {
    position: static;
    flex-shrink: 0;
}

#main {
    margin: 0;
}

/* Mobile navbar */
#mobile-header {
    display: none;
}

@media not all and (min-width: 768px) {
    #header {
        display: flex !important;
    }
}

/* Navbar */
.ic-app-header {
    background-color: var(--surface-container);
}

.ic-app-header__logomark-container {
    display: none;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
    .ic-app-header__menu-list-link {
    background-color: transparent;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: var(--on-surface-variant);
    position: relative;
    padding: 6px !important;
    width: 100%;
    transition: color 0.2s ease-in-out;
    box-sizing: border-box;
}

.nav-button a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.nav-button .material-symbols-outlined {
    font-size: 30px;
    display: block;
    text-align: center;
}

.menu-item-icon-container {
    color: inherit;
}

.icon-background {
    height: 30px;
    position: absolute;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 20px;
}

.nav-button:hover .icon-background {
    background-color: var(--surface-container-high);
    transition: background-color 0.2s ease-in-out;
}

.nav-button:hover {
    color: var(--on-surface);
}

.nav-button.active .icon-background {
    background-color: var(--primary-container);
}

.nav-button.active,
.nav-button.active a {
    color: var(--on-primary-container);
}

body.primary-nav-expanded .menu-item__text {
    color: var(--on-surface);
}

body.primary-nav-expanded .nav-button .menu-item__text {
    color: inherit;
}

.ic-app-header__menu-list-link .ic-icon-svg {
    fill: var(--on-surface-variant);
}

body.primary-nav-expanded
    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
    .menu-item__text {
    color: var(--on-surface-variant);
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
    .ic-icon-svg {
    fill: var(--on-surface-variant);
}

/* Announcements */
.ic-notification {
    margin: 0;
}

.ic-notification__content {
    background-color: transparent;
}

.ic-notification .notification_account_content {
    background-color: var(--surface-container-high);
}

.css-pkzi3c-view-alert {
    background-color: var(--surface-container-high) !important;
    color: var(--on-surface) !important;
    box-shadow: none !important;
}

/* Dashboard header */
#dashboard_header_container {
    position: static;
}

.ic-Dashboard-header__layout {
    display: block;
    min-height: auto;
    border: none;
    background-color: var(--background);
}

#dashboard_header_container .css-1m9ei4u-view--flex-flex {
    width: auto;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Hidden canvas elements */
#DashboardCard_Container {
    display: none !important;
}

.ic-Dashboard-header__actions {
    gap: 20px;
    justify-content: space-between;
}

#DashboardOptionsMenu_Container {
    display: none;
}

/* Dashboard panels */
.dashboard-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.dashboard-panel h3 {
    position: sticky;
    top: 0;
    background-color: var(--background);
}

/* Announcements Panel */
.ns-announcement {
    background-color: var(--surface-container-high);
    color: var(--on-surface-variant);
    padding: 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ns-announcement .ns-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement-context {
    color: var(--on-surface);
}

/* Sidebar */
#right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body:not(.course-menu-expanded) .ic-sidebar-logo {
    display: none;
}

body:not(.course-menu-expanded) .ic-app-main-content__secondary {
    width: auto;
}

body.course-menu-expanded .ic-app-main-content__secondary {
    padding-left: 20px;
}

#right-side .h2 {
    color: var(--on-surface);
    border-bottom-color: var(--outline-variant);
    margin: 0;
}

#right-side [data-testid="ToDoSidebar"],
#right-side .events_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#planner-todosidebar-item-list,
ul.events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

#right-side .todo-list-header {
    margin: 0;
    color: var(--on-surface);
    border-bottom-color: var(--outline-variant);
}

#right-side .events_list {
    margin: 0;
}

#right-side .button-sidebar-wide {
    text-align: center;
    margin: 0;
}

#right-side .events_list .event-details:after,
#right-side .events_list .todo-details:after,
#right-side .to-do-list .event-details:after,
#right-side .to-do-list .todo-details:after {
    display: none;
}

#right-side .event-details {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#right-side .right-side-list li em,
#right-side .right-side-list li p {
    color: var(--on-surface);
}

/* View switcher */
.css-dvua1q-view--block-contextView__content {
    background-color: var(--surface-container-high) !important;
    box-shadow: none !important;
    border: 1px solid var(--outline-variant) !important;
    border-radius: var(--br-small) !important;
}

.css-1dndbkc-menu {
    background-color: var(--surface-container-high) !important;
}

.css-ktk67h-menuItemGroup__label,
.css-1k1p70m-menuItem {
    background-color: transparent !important;
}

.css-1k1p70m-menuItem:hover {
    background: rgb(18, 76, 118) !important;
    color: var(--on-surface);
}

.css-16r4qzc-contextView__arrow,
.css-6kb82y-contextView__arrow {
    border-bottom-color: var(--outline-variant) !important;
}

.css-16r4qzc-contextView__arrow::after,
.css-6kb82y-contextView__arrow::after {
    border-bottom-color: var(--surface-container-high) !important;
}

.css-ktk67h-menuItemGroup__label {
    color: var(--on-surface) !important;
}

.css-oqi6mv-menuItem__label {
    color: var(--on-surface) !important;
}

.css-1k1p70m-menuItem:hover .css-oqi6mv-menuItem__label {
    color: var(--on-surface) !important;
}

.css-19z576y-menuItemSeparator {
    background-color: var(--outline-variant) !important;
    height: 1px !important;
    margin: 4px 8px !important;
}

/* Recent activity */
#dashboard-activity {
    grid-column: 1;
}

.ic-Dashboard-Activity {
    padding: 0;
}

.recent-activity-header {
    color: var(--on-surface);
    border-bottom: none;
}

.recent_activity > li {
    border: none;
}

.stream-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stream_header {
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
    padding: 12px;
    transition: background-color 0.2s ease-in-out;
}

.stream_header:hover {
    background-color: var(--card-hover);
    border: 1px solid var(--outline-variant-hover);
    border-radius: var(--br-large);
}

ul.recent_activity {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recent_activity > li .unread-count {
    left: 35px;
    top: 18px;
}

.stream_header .image-block {
    gap: 12px;
}

.recent_activity .image-block-image {
    margin: 0;
}

.image-block .image-block-content {
    padding: 0;
}

.details_container {
    margin-left: 10px;
}

.stream-details tr {
    border: none;
}

.stream-details tr:hover {
    background-color: transparent;
}

.content_summary {
    color: var(--on-surface);
}

.fake-link {
    color: var(--on-surface);
    margin-right: 10px;
}

.recent_activity > li .unread {
    margin: 0;
}

/* Planner */
.PlannerHeader-styles__root {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-small);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.PlannerHeader-styles__root button .css-p3olqp-baseButton__content {
    background-color: var(--surface-container-highest) !important;
    border: 1px solid var(--outline) !important;
    color: var(--on-surface) !important;
}

.PlannerHeader-styles__root button:hover .css-p3olqp-baseButton__content {
    background-color: var(--surface-container-highest-hover) !important;
    border: 1px solid var(--outline-hover) !important;
    color: var(--on-surface) !important;
}

.PlannerHeader-styles__root button:hover .css-1eaecfq-baseButton__content {
    background-color: var(--surface-container-highest-hover) !important;
    border-color: var(--outline-hover) !important;
}

#new_activity_button {
    border-radius: var(--br-small) !important;
    top: calc(100% + 10px) !important;
}

#new_activity_button .StickyButton-styles__layout {
    padding: 0.25rem 0.5rem;
}

.PlannerApp .Day-styles__root {
    background-color: transparent;
    color: var(--on-surface);
}

.PlannerItem-styles__root {
    border: none !important;
}

.Grouping-styles__root {
    margin: 0 !important;
}

.Grouping-styles__items {
    border: none !important;
}

.Grouping-styles__hero {
    display: none !important;
}

.PlannerItem-styles__completed {
    margin: 0 !important;
}

.PlannerItem-styles__due,
.PlannerItem-styles__score {
    color: var(--on-surface) !important;
}

.EmptyDays-styles__root {
    display: none;
}

.PlannerApp > div:not([class]) {
    display: none;
}

.css-j7efwz-view-tabs__container {
    background-color: transparent;
}

.css-1ktha4a-view-panel__content {
    background-color: transparent;
}

.css-19xa4ht-view-tab,
.css-fmlpgz-view-tab {
    color: var(--on-surface);
}

.css-1ktha4a-view-panel__content {
    color: var(--on-surface);
}

.css-15v4rhu-tray,
.css-1gto5tw-tray {
    background-color: var(--surface-container-high) !important;
    box-shadow: none !important;
}

.transition--slide-right-entered {
    border-left: 1px solid var(--outline-variant);
}

.transition--slide-left-entered {
    border-right: 1px solid var(--outline-variant);
}

.css-kryo2y-view-listItem {
    color: var(--on-surface) !important;
}

.css-8oqple-text {
    font-size: inherit;
}

.UpdateItemTray-styles__root {
    background-color: transparent !important;
    width: auto !important;
}

.css-j68kdy-formFieldLabel {
    color: var(--on-surface) !important;
}

input {
    color: var(--on-surface) !important;
}

input:focus,
textarea:focus {
    border: 1px solid var(--outline);
}

.css-1jn5ugl-textInput__facade,
.css-zxdqdw-textInput__facade,
.css-11e2nr6-textInput__facade {
    background-color: transparent;
    border: 1px solid var(--outline);
    border-radius: var(--br-small);
    color: var(--on-surface);
}

.css-1dmk401-textInput__facade {
    background-color: var(--surface-container-highest) !important;
    border-width: 1px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 0s 600000s,
        color 0s 600000s !important;
}

.css-vrgbjj-textArea {
    background-color: var(--surface-container-highest);
    border: 1px solid var(--outline);
    color: var(--on-surface);
}

input::placeholder {
    color: var(--on-surface-variant) !important;
}

/* Courses */
/* Header */
.ic-app-nav-toggle-and-crumbs {
    min-height: auto;
    padding: 20px 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 50;
    border: none;
    background-color: var(--background);
}

#courseMenuToggle {
    display: none;
}

.btn-link,
.Button--link {
    background-color: transparent;
    border: none;
}

.btn-link:hover:focus,
.Button--link:hover:focus,
.btn-link:focus,
.Button--link:focus {
    color: var(--on-surface);
}

#breadcrumbs {
    background-color: transparent;
}

#breadcrumbs span {
    color: var(--on-surface-variant);
}

.ic-app-nav-toggle-and-crumbs .right-of-crumbs {
    flex-direction: row;
    justify-content: end;
}

.css-1rpus1y-baseButton__content {
    background-color: transparent !important;
    color: var(--primary) !important;
    border: 1px solid var(--outline) !important;
    border-radius: var(--br-large);
}

.css-t514n8-view--inlineBlock-baseButton:hover
    > [class$="-baseButton__content"] {
    background-color: var(--surface-container) !important;
    border: 1px solid var(--outline) !important;
}

.css-1uh2md0-inlineSVG-svgIcon path:first-of-type {
    fill: var(--on-surface);
}

/* Left Sidebar */
#left-side {
    display: none;
}

/* Right Sidebar */
#course_show_secondary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Home */
.ic-item-row__content-col p,
.ic-item-row__content-col h4,
.ic-item-row__content-col .ic-announcement-row__content {
    white-space: normal;
    max-height: 3rem;
}

.ic-item-row {
    box-shadow: none;
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
    padding: 16px;
    gap: 16px;
}

#announcements_on_home_page {
    border: none;
    margin-bottom: 1.5rem;
}

.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block.css-1jop9l0-view--block {
    margin-bottom: 0;
}

.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block.css-1fzata2-view--block {
    margin: 0;
}

.ic-item-row__content-col {
    margin: 0;
}

.ic-item-row__meta-col {
    min-width: fit-content;
    white-space: nowrap;
}

.ic-item-row__content-link:hover h3 {
    text-decoration: underline;
}

#announcements_on_home_page .css-1vy2j5b-view-heading {
    margin: 0;
}

#announcements_on_home_page .css-1jop9l0-view--block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.css-1vy2j5b-view-heading,
.css-cv5a3j-view-heading {
    color: var(--on-surface) !important;
}

.css-zlfjpm-text {
    color: inherit;
}

.header-bar {
    background-color: transparent;
}

.pages.show .course-title {
    color: var(--on-surface);
}

.pages.show.home .show-content {
    padding: 0;
}

/* Announcements */
select {
    background-color: var(--surface-container-highest);
    border-color: var(--outline);
    border-radius: var(--br-small);
    color: var(--on-surface);
}

.announcements-v2__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements-v2__wrapper .css-1qprmw-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 !important;
}

.announcements-v2__wrapper .css-s6c3jw-view-flexItem {
    margin: 0 !important;
}

/* Discussions */
.css-1qprmw-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 0 0 !important;
}

.pinned-discussions-v2__wrapper,
.unpinned-discussions-v2__wrapper,
.closed-for-comments-discussions-v2__wrapper {
    background-color: transparent;
    border: none;
    padding: 0;
}

.discussions-v2__container-image {
    background-color: transparent;
    border: none;
}

.discussions-v2__container-image .css-zrd3r4-view--block {
    display: none;
}

.css-1jfhyds-toggleDetails__toggle,
.css-1jfhyds-toggleDetails__toggle:focus,
.css-1jfhyds-toggleDetails__toggle:hover,
.css-1jfhyds-toggleDetails__toggle:active {
    color: var(--on-surface) !important;
}

.css-2svfho-toggleDetails__details {
    color: var(--on-surface) !important;
}

.css-2svfho-toggleDetails__details .css-1fvrx9c-text {
    color: var(--on-surface);
    font-weight: normal !important;
}

.discussions-container__wrapper .css-0,
.discussions-container__wrapper .css-a9o3ew-toggleDetails__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.css-15k3f08-text {
    font-style: normal !important;
    color: var(--on-surface);
}

.ic-unread-badge__total-count {
    color: var(--background);
}

/* Announcement/Discussion Pages */
#discussion_container {
    margin-bottom: 20px;
}

#discussion-managebar .headerBar {
    height: 0;
    min-height: auto;
}

.toolbarView {
    background-color: transparent;
    min-height: auto;
}

.toolbarView .headerBar {
    background-color: transparent;
    padding: 0;
    border: none;
    min-height: auto;
}

#discussion-toolbar {
    margin: 40px 0 10px;
}

.topic .entry-content {
    background-color: var(--surface-container-high);
    border: none;
    border-radius: var(--br-large);
    padding: 20px;
}

.discussion-section {
    padding: 0;
}

#discussion-managebar {
    background-color: transparent;
    min-height: auto;
}

#discussion-managebar .pull-right {
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 5;
}

#discussion-managebar .pull-right .al-trigger {
    margin: 0;
}

.al-options {
    background-color: var(--surface-container-high);
    border-color: var(--outline-variant);
    padding: 0;
}

.al-options .ui-menu-item a {
    color: var(--on-surface);
}

.al-options .ui-menu-carat span {
    border-top-color: var(--surface-container-high);
    border-right-color: transparent;
    border-bottom-color: var(--surface-container-high);
    border-left-color: transparent;
}

.al-options .ui-menu-carat {
    border-top-color: var(--outline-variant);
    border-right-color: transparent;
    border-bottom-color: var(--outline-variant);
    border-left-color: transparent;
}

.discussion-header-content,
.discussion-entries .entry .discussion-header-content {
    padding: 0;
}

.discussion-header-right.pull-right {
    margin-right: 52px;
}

.discussion_entry > .discussion-entry-reply-area {
    margin: 0 !important;
    padding: 0;
    border: 0;
}

.discussion-reply-box,
.discussion-reply-box:focus {
    margin: 0;
    padding: 15px;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: var(--surface-container-highest);
    border: 1px solid var(--outline);
    color: var(--on-surface);
    transition: background-color 0.2s ease-in-out;
    border-radius: var(--br-large);
}

.discussion-reply-box:hover {
    color: var(--on-surface);
    background-color: var(--surface-container-highest-hover);
    border-color: var(--outline-hover);
}

#discussion_topic > .discussion-entry-reply-area.show-if-replying {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    width: 33vw;
    min-width: 530px;
    background-color: var(--background);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
}

.discussion-reply-form {
    padding: 0;
}

.discussion-reply-form .clearfix:first-of-type {
    display: none;
}

.canvas-rce__skins--root {
    background-color: transparent !important;
}

.tox-toolbar-overlord {
    margin: 0 !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
    background-color: transparent !important;
}

.tox-menubar {
    background-color: var(--surface-container-high) !important;
    border-top-left-radius: var(--br-large);
    border-top-right-radius: var(--br-large);
}

.tox-toolbar__primary {
    background-color: var(--surface-container-high) !important;
    color: var(--on-surface);
}

.tox-mbtn,
.tox-tbtn {
    color: var(--on-surface) !important;
    background-color: transparent !important;
}

.tox-tbtn path {
    fill: var(--on-surface);
}

.tox-split-button .tox-tbtn.tox-split-button__chevron {
    background-color: var(--surface-container-highest) !important;
}

.tox-mbtn:hover,
.tox-tbtn:hover,
.tox-split-button:hover,
.tox-tbtn.tox-tbtn--enabled:hover,
.tox-split-button .tox-tbtn.tox-split-button__chevron:hover {
    background-color: var(--surface-container-highest-hover) !important;
}

.tox .tox-tbtn.tox-tbtn--enabled::after {
    display: none;
}

.tox-edit-area {
    border: none !important;
}

.tox-edit-area__iframe {
    border: none !important;
}

.canvas-rce__skins--root > span {
    background-color: var(--surface-container-high);
}

.discussion-reply-form .clearfix:last-of-type {
    background-color: var(--surface-container-high);
    border-bottom-left-radius: var(--br-large);
    border-bottom-right-radius: var(--br-large);
    padding: 8px;
}

.discussion_subentries {
    padding: 0;
}

.discussion-read-state-btn {
    left: -20px;
}

.discussion-entries {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#discussion_subentries > .discussion-entries > .entry {
    margin: 0;
    border: 1px solid var(--outline-variant);
    background-color: var(--surface-container);
    border-radius: var(--br-large);
    padding: 20px;
}

.discussion-entries .entry {
    background-color: transparent;
}

.discussion-entries .discussion_entry {
    background-color: transparent;
}

.discussion-entries .entry .entry {
    border: none;
}

.entry-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entry-content .pad-box-mini {
    display: none;
}

.standalone-icon:before {
    color: var(--on-surface);
}

.al-trigger:hover .standalone-icon:before {
    color: var(--on-surface);
}

.discussion-pubdate,
.discussion-tododate {
    color: var(--on-surface);
}

.entry-controls {
    padding: 0;
}

.discussion-reply-action,
.discussion-rate-action,
.discussion-rating {
    color: var(--on-surface);
}

.showMore {
    background-color: var(--surface-container-highest);
    border: 1px solid var(--outline);
    border-radius: var(--br-small);
}

.showMore:hover {
    background-color: var(--surface-container-highest-hover);
    border-color: var(--outline-hover);
}

.entry
    > .bottom-reply-with-box
    .discussion-entry-reply-area.reply-box-container {
    display: none;
}

.css-1ocworu-modal {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant) !important;
    box-shadow: none;
}

/* Modules */
#modules-sidebar {
    height: max-content;
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    position: sticky;
    top: 76px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modules-sidebar a {
    color: var(--on-surface-variant);
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

#modules-sidebar a:hover {
    color: var(--on-surface);
    background-color: var(--surface-container-high);
}

.item-group-container {
    background-color: transparent;
    padding: 0;
}

#context_modules {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-group-condensed {
    padding: 0;
}

.context_module, .item-group-condensed {
    margin: 0;
    background-color: var(--surface-container);
    border-radius: var(--br-large);
    border: 1px solid var(--outline-variant);
}

.item-group-container .item-group-condensed:last-child, .item-group-container .item-group-condensed:last-of-type, .item-group-container .item-group-condensed.last {
    border-bottom: 1px solid var(--outline-variant);
}

.item-group-condensed .ig-header {
    margin: 0;
    padding: 12px;
    background-color: transparent;
    border: none;
    border-radius: var(--br-large);
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    color: var(--on-surface);
}

.item-group-condensed .ig-header:hover {
    margin: 0;
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    border: none;
    border-radius: var(--br-large);
}

.ig-header .name {
    text-shadow: none;
    color: var(--on-surface);
}

.ig-header .pill {
    color: var(--on-surface);
    box-shadow: none;
    border: none;
}

.item-group-condensed .ig-row,
.ig-list .ig-row:hover,
.context_module_item.context_module_item_hover {
    background-color: transparent;
    border: none;
}

.context_module_item .type_icon i {
    color: var(--on-surface-variant);
}

.ig-list .ig-row a.ig-title {
    color: var(--on-surface);
    font-weight: normal;
}

.context_module div.footer {
    display: none;
}

/* Module Pages */
.pages.show .show-content {
    padding: 0;
}

.pages.show .page-title {
    color: var(--on-surface);
    font-weight: normal;
}

#module_navigation_target {
    margin-top: 20px;
}

.module-sequence-footer {
    height: auto;
}

.module-sequence-footer .module-sequence-footer-content {
    background-color: transparent;
    border: none;
    height: auto;
    padding: 0;
}

.ui-widget.ui-tooltip {
    background-color: var(--surface-container-highest);
}

#content *[style*="color: #000"]:not([style*="background-color"]) {
    color: var(--on-surface) !important;
}

#content *[style*="background-color"] *[style*="color: #000"] {
    color: #000 !important;
}

#content
    *[style*="color: var(--ic-brand-font-color-dark)"]:not(
        [style*="background-color"]
    ) {
    color: var(--on-surface) !important;
}

#content
    *[style*="background-color"]
    *[style*="color: var(--ic-brand-font-color-dark);"] {
    color: var(--ic-brand-font-color-dark) !important;
}

#content *[style*="color: windowtext"]:not([style*="background-color"]) {
    color: var(--on-surface) !important;
}

#content *[style*="background-color"] *[style*="color: windowtext"] {
    color: windowtext !important;
}

#content *[style*="color: #333333"]:not([style*="background-color"]) {
    color: var(--on-surface) !important;
}

#content *[style*="background-color"] *[style*="color: #333333"] {
    color: windowtext !important;
}

/* Institution-specific Elements */
.qut-table-schedule span[style="background-color: #f1c40f;"] strong {
    color: var(--background);
}

div[style*="border-left: 6px solid #EFCB4"],
#qut-tmp-nut-home-signposting {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant);
}

div[style*="border-left: 6px solid #EFCB4"] span,
#qut-tmp-nut-home-signposting span {
    color: var(--on-surface) !important;
}

.qut-box {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant);
}

/* Assignments */
.css-a8tvzv-radioInput__facade {
    box-shadow: none;
    background-color: dimgray;
    border-radius: var(--br-small);
}

.css-1l8k4me-radioInput__label {
    color: var(--on-surface) !important;
}

#ag-list .ig-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accessible-toggler,
.accessible-toggler:hover,
.accessible-toggler:focus {
    color: var(--on-surface);
}

.accessible-toggler i {
    color: var(--on-surface);
}

.ig-list .ig-row {
    color: var(--on-surface);
}

.ig-list .ig-row.ig-row-empty {
    background-color: transparent;
    border: none;
}

.ig-list .ig-row .ig-empty-msg {
    color: var(--on-surface);
}

/* Calendar layout */
#not_right_side {
    height: 100%;
    gap: 20px;
}

#calendar-app,
#calendar-app .calendar,
#calendar-app .fc-view-container,
#calendar-app .fc-view-container > .fc-view,
#calendar-app .fc-view-container > .fc-view > table {
    height: 100%;
}

.fc-day-grid-container {
    height: 100% !important;
}

.fc-month-view .fc-day-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fc-row {
    height: auto !important;
    flex-grow: 1;
}

/* Assignment Pages */
.css-1fqjks6-text {
    font-weight: bold !important;
    color: var(--on-surface);
}

.css-1d6pi19-baseButton__content {
    background-color: var(--primary-container) !important;
    border-color: var(--primary-container);
    border-radius: var(--br-large) !important;
}

.css-6bj23u-toggleDetails__toggle {
    color: var(--on-surface) !important;
}

.css-gyi6rc-toggleDetails__details {
    padding: 0 !important;
    color: var(--on-surface) !important;
}

div[style="background: #EFF6FB; padding: 1rem 1.5rem;"] {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant);
}

div[style="background: #EFF6FB; padding: 1rem 1.5rem;"] p > span span {
    color: var(--on-surface) !important;
}

div[style="background: #EFF6FB; padding: 1rem 1.5rem;"] p strong span {
    color: var(--on-surface) !important;
}

.react-rubric .css-1myyqst-view-table,
.react-rubric thead,
.react-rubric .css-uysa3a-view-row,
.react-rubric .css-pcp0di-colHeader,
.react-rubric .css-1bxyo8j-view-body,
.react-rubric .css-71iz6n-view-rowHeader,
.react-rubric .css-ppw98w-view-cell {
    background-color: transparent !important;
    color: var(--on-surface) !important;
}

.react-rubric td,
.react-rubric th {
    border-color: var(--outline-variant);
}

.react-rubric .rating-tier {
    border-color: var(--on-surface);
}

div[data-testid="attempt-tab"]
    div[style="background-color: rgb(245, 245, 245); border-top: 2px solid rgb(199, 205, 209);"] {
    background-color: transparent !important;
    border: none !important;
}

.css-154jdfo-fileDrop__labelContent {
    border: 1px solid var(--outline) !important;
}

.css-154jdfo-fileDrop__labelContent:hover {
    border: 1px solid var(--outline-hover) !important;
}

.css-i72g1x-view {
    background-color: var(--surface-container-highest) !important;
    color: var(--on-surface) !important;
    transition: background-color 0.2s ease-in-out;
}

.css-i72g1x-view:hover {
    background-color: var(--surface-container-highest-hover) !important;
    color: var(--on-surface) !important;
}

div[data-testid="upload-box"]
    span[style="display: block; width: 100%; z-index: 99; background-color: rgb(245, 245, 245); padding: 1.5rem 0px;"] {
    background-color: transparent !important;
}

.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem.css-bucl0a-view-flexItem {
    padding: 0 !important;
}

.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block.css-1jzyw4p-view--block {
    margin: 0 !important;
}

.css-1ekpoai-view--flex-flex {
    justify-content: flex-start;
}

div[data-testid="upload-box"]
    div[style="height: 100%; width: 1px; left: 50%; position: absolute; background-color: rgb(107, 119, 128);"] {
    display: none;
}

.css-h9zbam-view {
    background-color: var(--surface-container-highest) !important;
    border: 1px solid var(--outline) !important;
    transition: background-color 0.2s ease-in-out;
}

.css-h9zbam-view:hover {
    background-color: var(--surface-container-highest-hover) !important;
    border: 1px solid var(--outline-hover) !important;
}

.css-kbpk98-inlineSVG-svgIcon {
    color: var(--on-surface);
}

.css-1ku4xx4-text {
    color: var(--on-surface) !important;
}

.css-1vfp3rz-text {
    color: var(--on-surface) !important;
}

#assignments-student-footer {
    background-color: var(--background) !important;
    border: none !important;
}

.css-1ocworu-modal {
    color: var(--on-surface) !important;
}

.css-6r8upb-view {
    background-color: var(--background) !important;
    color: var(--on-surface) !important;
}

/* Grades */
#grades_summary tbody tr:hover {
    background-color: transparent;
}

#grades_summary td,
#grades_summary th,
#grades_summary th.title {
    border-color: var(--outline-variant);
}

#grades_summary th.title .context {
    color: var(--on-surface);
}

/* Quizzes */
.quiz-header {
    border: none;
    margin-bottom: 20px;
}

#quiz-submission-version-table {
    margin: 0;
}

.quiz-submission {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.alert {
    background-color: #c23c0d;
    color: var(--on-surface);
}

.quiz_score .score_value {
    color: var(--on-surface);
}

.question {
    background-color: var(--surface-container-high);
    border-color: var(--outline-variant);
    border-radius: var(--br-large);
}

#questions.assessment_results .question .header {
    background-color: var(--surface-container-high);
}

.question .header {
    border-bottom-color: var(--outline-variant);
}

.question.multiple_choice_question .answer,
.question.multiple_answers_question .answer,
.question.matching_question .answer,
.question.true_false_question .answer {
    border: none;
}

#module_sequence_footer {
    margin-top: 20px;
}

.muted-notice {
    background-color: var(--surface-container-high);
    border-color: var(--outline-variant);
    border-radius: var(--br-large);
    background-image: none;
    text-shadow: none;
}

#question_list {
    max-height: none;
    overflow: visible;
}

#questions.assessing {
    background-color: transparent;
    padding: 0;
}

.question .header {
    background-color: transparent;
}

.quiz_comment {
    background-color: var(--surface-container-highest);
    border-radius: var(--br-large);
    box-shadow: none;
    border-color: var(--outline);
    background-image: none;
}

.quiz_comment:before {
    border-bottom-color: var(--outline);
}

.quiz_comment:after {
    border-bottom-color: var(--surface-container-highest);
}

table.summary td,
table.summary tbody th {
    border-bottom: none;
    background-color: transparent;
}

#right-side div[style*="margin-left: 20px; margin-top: 20px;"] {
    margin: 0 !important;
}

/* Calendar header */
#calendar_header .header-bar {
    padding: 10px 0px;
    border-bottom: 1px solid var(--outline-variant);
}

.btn.active {
    border: 1px solid var(--outline);
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
}

.btn-group>.btn {
    color: var(--on-surface);
}

.btn-group>.btn:first-child {
    border-top-left-radius: var(--br-large);
    border-bottom-left-radius: var(--br-large);
}

.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
    border-top-right-radius: var(--br-large);
    border-bottom-right-radius: var(--br-large);
}

#create_new_event_link {
    color: var(--on-surface);
}

#quiz_show .description.teacher-version {
    height: auto;
    border: none;
}

#quiz_show
    .user_content
    > div[style*="padding-left: 10px; padding-right: 10px;"] {
    padding: 0 !important;
}

#quiz_show .user_content h2 {
    font-size: 1.5em;
}

/* Minical */
#minical,
#minical .fc-toolbar,
#minical .fc-widget-content {
    background-color: transparent;
    border: none;
    color: var(--on-surface);
}

#minical .fc-toolbar h2 {
    color: var(--on-surface);
}

.fc-state-default {
    text-shadow: none;
    color: var(--on-surface);
}

#minical .fc-view-container {
    padding: 0;
}

#minical .fc-basic-view td.fc-day-number,
#minical td.fc-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 3px;
    border: none;
    border-radius: 40px;
}

#minical .fc-other-month {
    color: #6d6d6d;
}

#minical .fc-basic-view td.fc-day-number:hover {
    background-color: var(--surface-container-highest-hover);
}

#minical .fc-bg .fc-state-highlight {
    background-color: transparent;
}

#minical .fc-basic-view td.fc-day-number.fc-state-highlight {
    background-color: #3772e1;
}

#minical .fc-basic-view td.fc-day-number.fc-state-highlight:hover {
    background-color: #3266cb;
}

#minical .event::after {
    position: static;
    width: 28px;
    height: 28px;
    border-radius: 40px;
    display: block;
}

/* Sidebar */
.rs-section {
    margin: 0;
}

#calendar-list-holder,
#other-calendars-list-holder,
#undated-events,
#calendars-context-list .context_list_context:hover,
#other-calendars-context-list .context_list_context:hover {
    background-color: transparent;
}

#right-side h2,
#right-side .h2 {
    border-bottom-color: var(--outline-variant);
}

#calendar-list-holder,
#other-calendars-list-holder,
#undated-events {
    max-height: none;
}

#calendars-context-list .context_list_context,
#other-calendars-context-list .context_list_context {
    padding: 0;
}

#undated-events .event {
    background-color: transparent;
    border: none;
    margin: 5px 0;
}

/* Calendar grid */
#calendar-app {
    overflow: auto;
}

#calendar-app .fc-month-view .fc-body,
#calendar-drag-and-drop-container .fc-month-view .fc-body {
    background-color: var(--background);
}

.fc td.fc-widget-header {
    border: none;
}

.calendar .fc-head thead .fc-widget-header,
#calendar-drag-and-drop-container .fc-head thead .fc-widget-header {
    color: var(--on-surface);
}

.fc th,
.fc td {
    border-color: var(--outline-variant);
}

.calendar .fc-row .fc-content-skeleton td,
.calendar .fc-row .fc-helper-skeleton td,
#calendar-drag-and-drop-container .fc-row .fc-content-skeleton td,
#calendar-drag-and-drop-container .fc-row .fc-helper-skeleton td {
    border: none;
}

#calendar-app .fc-month-view .fc-today,
#calendar-drag-and-drop-container .fc-month-view .fc-today {
    background-color: transparent;
    color: #3772e1;
}

.fc-month-view .fc-widget-content .fc-day-number {
    text-align: center;
}

/* Calendar Agenda View */
.agenda-wrapper {
    background-color: transparent;
}

.agenda-day {
    border-bottom-color: var(--outline-variant);
}

.agenda-event__time {
    font-weight: normal;
}

/* Calendar Week View */
.fc-time-grid-container {
    height: auto !important;
}

#calendar-app .fc-agendaWeek-view .fc-body,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-body {
    background-color: transparent;
}

#calendar-app .fc-agendaWeek-view .fc-widget-header,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-widget-header {
    color: var(--on-surface);
}

#calendar-app .fc-agendaWeek-view .fc-axis,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-axis {
    color: var(--on-surface);
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: var(--outline-variant);
}

#calendar-app .fc-event,
#calendar-app .fc-agendaWeek-view .fc-event,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-event {
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-small);
    margin-top: 10px;
}

.fc-event .fc-bg {
    background-color: transparent;
}

#calendar-app .fc-agendaWeek-view .fc-day-grid .fc-today,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-day-grid .fc-today,
#calendar-app .fc-agendaWeek-view .fc-time-grid .fc-today,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-time-grid .fc-today {
    border: none;
}

.fc-day-header__week-number,
.fc-day-header__week-day {
    font-weight: normal;
}

.fc-agendaWeek-view
    .fc-event-container
    a[class*="group_"]
    .fc-content
    .fc-time {
    color: var(--on-surface);
}

.agenda-day.agenda-today {
    background-color: transparent;
}

.agenda-day.agenda-today span {
    color: #3772e1;
}

/* Event details */
div.event-details {
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
}

.ui-menu-carat {
    border-top-color: var(--outline-variant);
    border-bottom-color: var(--outline-variant);
    margin-left: 7px;
}

.event-details.carat-bottom .ui-menu-carat span,
.ui-menu-carat span {
    border-top-color: var(--surface-container-high);
    border-bottom-color: var(--surface-container-high);
}

div.event-details-header,
div.event-details-content,
div.event-details-footer {
    border-bottom: none;
}

.css-1uui0xw-mask {
    background-color: var(--surface-container-high) !important;
    opacity: 0.85;
}

.css-13bvaq6-modal {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant) !important;
    border-radius: var(--br-large) !important;
}

.css-1y7d45o-modalHeader {
    background-color: transparent !important;
    border: none !important;
}

.css-pysk6l-modalFooter {
    background-color: transparent !important;
    border: none !important;
}

.css-1y7d45o-modalHeader {
    color: var(--on-surface);
}

span[aria-label="Confirm deletion"] .css-1rpus1y-baseButton__content {
    background-color: var(--surface-container-highest);
    color: var(--on-surface);
    border: 1px solid var(--outline);
}

span[aria-label="Confirm deletion"]
    button:hover
    .css-1rpus1y-baseButton__content {
    background-color: var(--surface-container-highest-hover);
    color: var(--on-surface);
    border: 1px solid var(--outline-hover);
}

/* Add event */
.ui-widget-overlay {
    background-color: var(--surface-container-high);
    opacity: 0.85;
}

.ui-dialog.ui-widget-content {
    color: var(--on-surface);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
    background-color: transparent;
}

.ui-dialog .ui-widget-content {
    color: var(--on-surface);
}

.ui-dialog-title {
    color: var(--on-surface);
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header,
.ui-dialog .ui-datepicker .ui-widget-header.ui-datepicker-header,
.ui-datepicker .ui-dialog .ui-widget-header.ui-datepicker-header,
.ui-widget-header {
    background-color: var(--surface-container-high);
    border: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
    opacity: 1;
}

.ui-tabs .ui-tabs-panel {
    background-color: var(--surface-container-high);
    border: none;
}

.ui-tabs .ui-tabs-nav li {
    top: 0;
}

#edit_event {
    background-color: var(--surface-container-high);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
    background-color: var(--secondary-container);
    border: none;
    border-radius: var(--br-large);
}

.ui-tabs .ui-tabs-nav li.ui-state-focus, .ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active {
    background-color: var(--secondary-container) !important;
}

#edit_event .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#edit_event .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover a,
#edit_event .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover a {
    color: var(--on-surface);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding: 0;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover,
.ui-tabs .ui-tabs-nav li:hover {
    background-color: var(--surface-container-highest);
    border: none;
    border-radius: var(--br-large);
}

#edit_event .ui-tabs .ui-tabs-nav li.ui-state-hover a,
#edit_event .ui-tabs .ui-tabs-nav li:hover a {
    color: var(--on-surface);
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.ui-tabs li.ui-state-default {
    margin-left: 8px;
}

.ui-tabs li.ui-state-default:first-of-type {
    margin-left: 12px;
}

form.css-ll252p-view {
    margin: 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-focus,
.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active {
    background-color: dimgray;
}

.ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
}

#edit_planner_note_form_holder input,
#edit_planner_note_form_holder textarea {
    background-color: var(--surface-container-highest);
    border-color: var(--outline);
    box-shadow: none;
    border-radius: var(--br-small);
}

/* Inbox */
.css-vxe90h-view--inlineBlock {
    background-color: transparent !important;
    border: none !important;
}

.css-f88gdg-baseButton__content,
.css-10mk03b-baseButton__content,
.css-1xf7txc-baseButton__content {
    background-color: var(--surface-container-highest) !important;
    border: 1px solid var(--outline) !important;
}

.css-1bdofci-view--inlineBlock-baseButton:hover .css-f88gdg-baseButton__content,
.css-1odzrbe-view--inlineBlock-baseButton:hover
    .css-10mk03b-baseButton__content,
.css-sklifg-view--inlineBlock:hover .css-1xf7txc-baseButton__content {
    background-color: var(--surface-container-highest-hover) !important;
    border: 1px solid var(--outline-hover) !important;
}

.css-1ppxcto-text {
    color: var(--on-surface) !important;
}

.css-h5qz9v-view {
    border: none !important;
}
