/* Event details */
div.event-details {
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
}

.ui-menu-carat {
    border-top-color: var(--outline-variant);
    border-bottom-color: var(--outline-variant);
    margin-left: 7px;
}

.event-details.carat-bottom .ui-menu-carat span,
.ui-menu-carat span {
    border-top-color: var(--surface-container-high);
    border-bottom-color: var(--surface-container-high);
}

div.event-details-header,
div.event-details-content,
div.event-details-footer {
    border-bottom: none;
}

.css-1uui0xw-mask {
    background-color: var(--surface-container-high) !important;
    opacity: 0.85;
}

.css-13bvaq6-modal {
    background-color: var(--surface-container-high) !important;
    border: 1px solid var(--outline-variant) !important;
    border-radius: var(--br-large) !important;
}

.css-1y7d45o-modalHeader {
    background-color: transparent !important;
    border: none !important;
}

.css-pysk6l-modalFooter {
    background-color: transparent !important;
    border: none !important;
}

.css-1y7d45o-modalHeader {
    color: var(--on-surface);
}

span[aria-label="Confirm deletion"] .css-1rpus1y-baseButton__content {
    background-color: var(--surface-container-highest);
    color: var(--on-surface);
    border: 1px solid var(--outline);
}

span[aria-label="Confirm deletion"]
    button:hover
    .css-1rpus1y-baseButton__content {
    background-color: var(--surface-container-highest-hover);
    color: var(--on-surface);
    border: 1px solid var(--outline-hover);
}
