@import url(add-event.css);
@import url(agenda.css);
@import url(event-details.css);
@import url(grid.css);
@import url(header.css);
@import url(minical.css);
@import url(sidebar.css);
@import url(week-view.css);

/* Calendar layout */
#not_right_side {
    height: 100%;
    gap: 20px;
}

#calendar-app,
#calendar-app .calendar,
#calendar-app .fc-view-container,
#calendar-app .fc-view-container > .fc-view,
#calendar-app .fc-view-container > .fc-view > table {
    height: 100%;
}

.fc-day-grid-container {
    height: 100% !important;
}

.fc-month-view .fc-day-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fc-row {
    height: auto !important;
    flex-grow: 1;
}
