/* Minical */
#minical,
#minical .fc-toolbar,
#minical .fc-widget-content {
    background-color: transparent;
    border: none;
    color: var(--on-surface);
}

#minical .fc-toolbar h2 {
    color: var(--on-surface);
}

.fc-state-default {
    text-shadow: none;
    color: var(--on-surface);
}

#minical .fc-view-container {
    padding: 0;
}

#minical .fc-basic-view td.fc-day-number,
#minical td.fc-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 3px;
    border: none;
    border-radius: 40px;
}

#minical .fc-other-month {
    color: #6d6d6d;
}

#minical .fc-basic-view td.fc-day-number:hover {
    background-color: var(--surface-container-highest-hover);
}

#minical .fc-bg .fc-state-highlight {
    background-color: transparent;
}

#minical .fc-basic-view td.fc-day-number.fc-state-highlight {
    background-color: #3772e1;
}

#minical .fc-basic-view td.fc-day-number.fc-state-highlight:hover {
    background-color: #3266cb;
}

#minical .event::after {
    position: static;
    width: 28px;
    height: 28px;
    border-radius: 40px;
    display: block;
}
