/* Calendar Week View */
.fc-time-grid-container {
    height: auto !important;
}

#calendar-app .fc-agendaWeek-view .fc-body,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-body {
    background-color: transparent;
}

#calendar-app .fc-agendaWeek-view .fc-widget-header,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-widget-header {
    color: var(--on-surface);
}

#calendar-app .fc-agendaWeek-view .fc-axis,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-axis {
    color: var(--on-surface);
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: var(--outline-variant);
}

#calendar-app .fc-event,
#calendar-app .fc-agendaWeek-view .fc-event,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-event {
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-small);
    margin-top: 10px;
}

.fc-event .fc-bg {
    background-color: transparent;
}

#calendar-app .fc-agendaWeek-view .fc-day-grid .fc-today,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-day-grid .fc-today,
#calendar-app .fc-agendaWeek-view .fc-time-grid .fc-today,
#calendar-drag-and-drop-container .fc-agendaWeek-view .fc-time-grid .fc-today {
    border: none;
}

.fc-day-header__week-number,
.fc-day-header__week-day {
    font-weight: normal;
}

.fc-agendaWeek-view
    .fc-event-container
    a[class*="group_"]
    .fc-content
    .fc-time {
    color: var(--on-surface);
}

.agenda-day.agenda-today {
    background-color: transparent;
}

.agenda-day.agenda-today span {
    color: #3772e1;
}
