@import url(views.css);

/* Dashboard header */
#dashboard_header_container {
    position: static;
}

.ic-Dashboard-header__layout {
    display: block;
    min-height: auto;
    border: none;
    background-color: var(--background);
}

#dashboard_header_container .css-1m9ei4u-view--flex-flex {
    width: auto;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Hidden canvas elements */
#DashboardCard_Container {
    display: none !important;
}

.ic-Dashboard-header__actions {
    gap: 20px;
    justify-content: space-between;
}

#DashboardOptionsMenu_Container {
    display: none;
}

/* Dashboard panels */
.dashboard-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.dashboard-panel h3 {
    position: sticky;
    top: 0;
    background-color: var(--background);
}

/* Announcements Panel */
.ns-announcement {
    background-color: var(--surface-container-high);
    color: var(--on-surface-variant);
    padding: 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ns-announcement .ns-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement-context {
    color: var(--on-surface);
}
