:root {
    --background: #1c1c1c;
    --card: #232323;
    --card-border: #2e2e2e;

    --card-hover: #2b2b2b;
    --card-border-hover: #353535;

    --input: #3C3C3C;
    --input-border: #464646;

    --input-hover: #464646;
    --input-border-hover: #505050;

    --card-border-radius: 10px;
    --small-border-radius: 4px;
    --paragraph: #adadad;

    --link: #0D84FF;
}

/* Hidden elements */
#react-router-portals, #StudentTray__Container, #footer, #wrapper::after {
    display: none;
}

/* Layout */
body {
    min-height: auto;
}

#application {
    display: grid;
    gap: 20px;
    grid-template-columns: 80px 1fr 300px;
    height: 100vh;
    min-height: auto;
}

#wrapper {
    margin: 0;
    grid-column: 2;
    max-width: none;
    min-height: auto;
    height: 100%;
    overflow: auto;
}

#right-side-wrapper {
    grid-column: 3;
    grid-row: 1;
    overflow: auto;
    width: auto;
    padding: 10px;
    height: 100%;
}

#content {
    padding: 0;
}

#dashboard {
    margin: 0;
}