/* Announcements filters */
.css-1y8zc9i-textInput__inputLayout {
  background-color: #292929 !important;
  border-radius: 4px;
}

.css-1jn5ugl-textInput__facade,
.css-zxdqdw-textInput__facade {
  border: none !important;
}

.css-183j57y-formFieldLayout {
  border: 1px solid #666666 !important;
  border-radius: 4px !important;
}

#TextInput_0 {
  height: 38px !important;
}
