/* Announcements filters */
.css-1y8zc9i-textInput__inputLayout {
  background-color: #292929;
  border-radius: 4px;
}

.css-1jn5ugl-textInput__facade,
.css-zxdqdw-textInput__facade {
  border: none;
}

.css-183j57y-formFieldLayout {
  border: 1px solid #666666;
  border-radius: 4px;
}

#TextInput_0 {
  height: 38px;
}

/* Announcement */
.ic-Layout-contentMain {
  padding: 4px;
  margin: 36px 48px 48px 48px;
}

.toolbarView {
  background-color: transparent;
}

.toolbarView .headerBar {
  background-color: #2e2e2e;
  border: none;
  border-radius: 4px;
}

.topic .entry-content {
  border-left: none;
  border-right: none;
}

.discussion_subentries {
  padding: 0;
}

#search_entries_container .css-1jn5ugl-textInput__facade,
#search_entries_container .css-zxdqdw-textInput__facade {
  background-color: #292929;
  border: 1px solid #666666;
  border-radius: 4px;
}

.css-1mtgjqq-textInput:-webkit-any(input)[type] {
  color: #ffffff;
}

.ui-button:hover.ui-state-hover {
  background-color: #2e2e2e;
  border: 1px solid #757575;
  color: #ffffff;
}
