/* Modules */
.item-group-container {
  background-color: #1f1f1f;
}

.context_module {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 4px;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: #242424;
}

.context_module .footer {
  display: none;
}

.item-group-container .item-group-condensed:last-child,
.item-group-container .item-group-condensed:last-of-type,
.item-group-container .item-group-condensed.last {
  border-bottom: 1px solid #666666;
}

.item-group-condensed .ig-header {
  border: none;
  margin-top: 0;
  background-color: #2e2e2e;
  border-radius: 2px;
}

.ig-header i {
  color: #ffffff;
}

.ig-header .name {
  text-shadow: none;
  color: #ffffff;
}

.ig-header .requirements_message .pill {
  color: #ffffff;
  box-shadow: none;
  border: 1px solid #666666ff;
  border-radius: 4px;
  height: 30px;
}

.item-group-condensed .ig-row {
  background-color: transparent;
  color: #adadad;
  border: 0;
}

.context_module_item.context_module_item_hover,
.ig-list .ig-row:hover {
  background-color: transparent;
}

.ig-list .ig-row a.ig-title {
  color: #ffffff;
  font-weight: normal;
}
