.css-tz46fa-view-heading {
  color: #ffffff;
}

.css-pkzi3c-view-alert {
  background-color: #242424;
  color: #ffffff;
}

.css-1orhfp7-toggleFacade__label {
  color: #ffffff;
}

.css-1h7tu9i-checkbox__control {
  background-color: transparent;
}

.css-1vfp3rz-text {
  color: #adadad;
}

.css-v9mxmy-view-table {
  background-color: #242424;
}

.css-1lvqnn0-head,
.css-uysa3a-view-row,
.css-pcp0di-colHeader {
  background-color: transparent;
}
