/* Nightshade elements */
#course-nav {
    width: 25%;
    min-width: 300px;
    max-width: 380px;
    overflow: hidden;
    background-color: var(--surface-container);
    border-left: 1px solid var(--outline-variant);
    border-top-right-radius: var(--br-large);
    border-bottom-right-radius: var(--br-large);
}

#scroll-wrapper {
    height: 100%;
    overflow-y: auto;
}

.ns-sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-box {
    display: flex;
    gap: 5px;
}

.course-name {
    color: var(--on-surface);
}

#course-nav button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.toggle span {
    color: var(--on-surface-variant);
    border-radius: 15px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.toggle span:hover {
    background-color: var(--surface-container-high);
    color: var(--on-surface);
    cursor: pointer;
}

.tabs {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    gap: 10px;
}

.tabs a {
    text-decoration: none;
    color: var(--on-surface-variant);
    padding: 5px 10px;
    border-radius: 20px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.tabs a:hover {
    background-color: var(--surface-container-high);
    color: var(--on-surface);
}

.tabs a.active {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
}
