/* Logout button */
.css-1ppxcto-text {
    color: var(--on-surface) !important;
}

.css-h5qz9v-view {
    border: none !important;
}

.css-13p5152-baseButton__content {
    background-color: transparent !important;
    border-color: var(--outline) !important;
    border-radius: var(--br-large) !important;
    color: var(--primary) !important;
    padding: 8px 14px;
}


.css-131ekwm-baseButton__children {
    display: block;
    padding: 0px;
}

/* Support corner popup */
.css-1ny9zlw-view--block {
    color: var(--on-surface);
}

.hgzYgO {
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline-variant);
    border-radius: var(--br-large);
}

.hfYLfP {
    background-color: transparent;
    border: 1px solid var(--outline);
    margin: 0;
}

.css-1wfkqvb-inlineSVG-svgIcon, .css-1p0nke6-inlineSVG-svgIcon {
    color: var(--on-surface-variant);
}

.css-1ek001j-checkboxFacade__label {
    color: var(--on-surface-variant);
}

.css-gv6s0f-baseButton__content {
    background-color: transparent !important;
    color: var(--primary) !important;
    border: 1px solid var(--outline) !important;
    border-radius: var(--br-large);
}

.css-m96lik-view--inlineBlock-baseButton:hover > [class$="-baseButton__content"] {
    background-color: var(--surface-container) !important;
}
