name "Nightshade for Canvas"
version "3.0"
manifest-version (i8)3

description \
"A browser extension that transforms Canvas with a modern, responsive UI and dark mode."

icons {
    "16" "icon16.png"
    "32" "icon32.png"
    "48" "icon48.png"
    "128" "icon128.png"
}

permissions {
    storage
    tabs
}

defaults {
    tooltip "Popup for setting Canvas URL"
    popup "popup.html"
}

injections {
    - {
        match "<all_urls>"
        script "injected.js"
        run-at "document_start"
    }
}

background-script "background.js"

resources {
    - {
        files \
            "global.css" \
            "dashboard.css" \
            "calendar.css"
        match "<all_urls>"
    }
}
